<div class="captcha-container">
    <p>Введите текст, который вы видите на изображении:</p>
    <div class="captcha">
        <span class="captcha-text">{{ generatedCaptcha }}</span>
        <button class="refresh-button" (click)="generateCaptcha()">Обновить</button>
    </div><br/>
    <input type="text" [(ngModel)]="userInput" placeholder="Введите текст сюда">
    <button (click)="checkCaptcha()">Проверить</button>
    <p *ngIf="isCaptchaValid === true" class="valid-message">Капча верна!</p>
    <p *ngIf="isCaptchaValid === false" class="invalid-message">Неверная капча! Попробуйте снова.</p>
</div>
