.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"],
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

.note {
    margin-bottom: 20px;
    padding: 15px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note div {
    margin: 15px 15px;
}

div button {
    margin-right: 5px;
}

.note span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 123, 255, 0.1);
}

.note h3 {
    margin-top: 0;
    color: #333;
}

.note p {
    margin-bottom: 0;
    color: #666;
}

.note button {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #28a745; /* зеленый цвет */
}

button[type="submit"]:hover {
    background-color: #218838; /* темно-зеленый цвет при наведении */
}

button.delete-button {
    background-color: #dc3545; /* красный цвет */
}

button.delete-button:hover {
    background-color: #c82333; /* темно-красный цвет при наведении */
}
