<div class="todo-container">
    <h2>Todo List</h2>

    <form (submit)="addNote()">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="title" required>
        </div>
        <div class="form-group">
            <label for="text">Text:</label>
            <textarea id="text" name="text" [(ngModel)]="text" required></textarea>
        </div>
        <button type="submit">Add Note</button>
    </form>
    <hr>
    <div *ngIf="loading">
        <Preloader></Preloader>
    </div>
    <div *ngFor="let note of notes" class="note">
        <h3>{{ note[2] }}</h3>
        <p>{{ note[3] }}</p>
        <button (click)="editNote(note)">Edit</button>
        <button (click)="deleteNote(note[0])">Delete</button>
    </div>


</div>
