<div class="home-container bg-gray-800 p-5 shadow-lg text-white md:rounded-lg md:mt-16 mt-14 md:mb-2 md:mx-20 mx-0">
    <h1 class="text-center text-6xl font-bold mt-28">Todo Manager</h1>
    <div class="text-center ">
        <p class=" text-3xl m-8">Todo Manager - это веб-приложение, <br> которое поможет вам составить
            список дел и управлять им.</p>
    </div>

    <div class="text-center mt-8 mb-8">
        <button routerLink="/signup" class="text-3xl bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded">
            Зарегистрироваться
        </button>
    </div>

    <h1 class="text-center text-4xl font-bold mt-10 mb-5">Пример работы</h1>
    <div>
        <img class="shadow rounded" src="../../assets/images/example1.png" width="100%">
    </div>


    <h1 class="text-center text-4xl font-bold mt-10 mb-5">Авторы</h1>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-5">
        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/daniil.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Вольгов Даниил</h3>
                <p class="text-lg">Дизайн, тестирование</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/kazakov.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Казаков Андрей</h3>
                <p class="text-lg">Скрипты</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/alina.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Королёва Алина</h3>
                <p class="text-lg">Главная страница</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/dmitriy_miterev.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Митерёв Дмитрий</h3>
                <p class="text-lg">Регистрация и логин</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/dmitriy_nenashev.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Ненашев Дмитрий</h3>
                <p class="text-lg">Дизайн</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/andrey.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Панюшкин Андрей</h3>
                <p class="text-lg">Кэп, Backend, скрипты</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/nikita.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Уваров Никита</h3>
                <p class="text-lg">Скрипты</p>
            </div>
        </div>

        <div class="bg-gray-700 p-4 rounded-lg shadow mb-4">
            <img class="rounded" src="../../assets/images/fedorov.jpg">
            <div class="text-center">
                <h3 class="text-xl font-semibold text-gray-100 mt-2">Фёдоров Александр</h3>
                <p class="text-lg">Тестирование</p>
            </div>
        </div>
    </div>
</div>
