<header class="app-header">
  <div class="logo">
    <img src="./assets/logo.png" alt="Logo" height="80" width="80">
    <span>TODO Manager</span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/" >Home</a></li>
      <div *ngIf="isRegistered(); else loginBlock">
        <li><a routerLink="/todo" >TODO</a></li>
        <li><button (click)="logOut()">Log Out</button></li>
    </div>
    <ng-template #loginBlock>
        <li><a routerLink="/login" >Login</a></li>
    </ng-template>
    </ul>
  </nav>
</header>
