<nav class="navbar">
    <div class="navbar-container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a routerLink="/" class="navbar-link">Home</a>
            </li>
            <li class="navbar-item" *ngIf="!isLoggedIn">
                <a routerLink="/todo" class="navbar-link">TODO</a>
            </li>
            <li class="navbar-item" *ngIf="!isLoggedIn">
                <button (click)="logout()" class="navbar-button">Logout</button>
            </li>
            <li class="navbar-item" *ngIf="isLoggedIn">
                <button routerLink="/login" class="navbar-button">Login</button>
            </li>
        </ul>
    </div>
</nav>
