<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login(email.value, password.value)">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" #email required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" #password required>
        </div>
        <button type="submit">Войти</button>
    </form>
    <a routerLink="/signup">Регистрация</a>
</div>
