<div class="container">
    <h2>Вход в аккаунт</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <form (ngSubmit)="login()">
        <div class="form-group">
            <label for="usernameOrEmail">Имя пользователя или Email:</label>
            <input type="text" class="form-control" id="usernameOrEmail" name="usernameOrEmail" [(ngModel)]="loginData.usernameOrEmail">
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginData.password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" [(ngModel)]="loginData.rememberMe">
            <label class="form-check-label" for="rememberMe">Запомнить меня</label>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <p>Нет аккаунта? <a routerLink="/signup">Зарегистрируйтесь</a></p>
</div>
