<div class="toggle-container">
    <div class="toggle">
        <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter your personal details to use all of site features</p>
            <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
            <h1>Hello, Friend!</h1>
            <p>Register with your personal details to use all of site features</p>
            <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
        </div>
    </div>
</div>